body {
    text-align: center;
background-color: gray;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
}


#card-section {
    margin-top: 60px;
    
}

#card-section > img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}